<p class="underline"><%= link_to "Admin Dashboard", "/" %></p>
<div style = "margin-left:auto; margin-right:auto;">
  <%# <h1 class="text-3xl font-bold" style="text-align:center;">Calendar</h1> %>

  <div class="grid h-screen place-items-center">
    <iframe src="https://calendar.google.com/calendar/embed?src=c_1b2ba3a0c5d0ac6eb82d42ca9e7763c8bcb8755d05c39efe5f875fe3d7dabe25%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no" display="block"></iframe>
  </div>
</div>
