<div style = "margin-left:auto; margin-right:auto;">
  <%# <h1 class="text-3xl font-bold" style="text-align:center;">Calendar</h1> %>

  <div class="grid h-screen place-items-center">
  <iframe src="https://calendar.google.com/calendar/embed?src=chai.justin%40tamu.edu&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
