<div class="container mx-auto w-1/2 h-[85vh] text-center">
  <h2 class="text-2xl text-maroon font-bold">Are you sure you want to permanently delete this announcement?</h2>
    <br>
    <%= form_for(@announcement, method: 'delete') do |f| %>

      <p class="text-lg"><%= @announcement.title %></p>
      <br>
        <%= f.submit "Delete", :class=> "cursor-pointer w-[72px] h-[32px] bg-red-500 active:bg-red-600 font-bold uppercase text-xs rounded shadow hover:shadow-md outline-none focus:outline-none ease-linear transition-all duration-150" %>
    <% end %>
</div>