<h1>Editing announcement</h1>

  <%= form_for(@announcement) do |f| %>
    <% # url: tasks_path, method: 'post' %>

    <%= render(partial: 'form',locals: {f: f}) %>

    <div class="form-buttons">
      <%= f.submit("Edit Announcement") %>
    </div>

  <% end %>

<br>

<div>
  <%= link_to "Show this announcement", @announcement %> |
</div>
