<div>
    <%= link_to "Back to member directory", users_path %>
    <br><br>

    <div class="container mx-auto rounded-lg" style="width: 57%;">
      <div class="shadow shadow-2xl border border-red-900  border-4 rounded-lg p-10 bg-white">
        <%= render "form", user: @user %>
      </div>
    </div>

    <br><br>
    <% if @user.errors.any? %>
    <% else %>
      <%= render "attend", user: @user %>
    <% end %>
</div>