<div>
    <br>
    <div class="indent-4">
        <%= link_to("Back", users_path, class: "bg-sky-500 active:bg-sky-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150")%>
    <br><br>

    <div class="container mx-auto rounded-lg" style="width: 67%;">
      <div class="shadow shadow-2xl border border-red-900  border-4 rounded-lg p-10 bg-white">
        <%= render "form", user: @user %>
      </div>
    </div>

    <br><br>
    <% if @user.errors.any? %>
    <% else %>
      <%= render "attend", user: @user %>
    <% end %>
</div>