<h1 class="text-3xl font-bold">Member Directory</h1>

<%# Search bar %>
<div class="search">
    <%= form_tag(users_path, method: :get) do %>
        <%= text_field_tag :search, params[:search], placeholder: "Enter name or surname..." %>
    <%= submit_tag 'Search', name: nil %>
    <% end %>
</div> 

<br><br>
<div>
<%= render "user", users: @users %>
</div>