<div class="container mx-auto rounded-lg" style="width: 57%;">
  <br>
  <div class="shadow shadow-2xl border border-red-900  border-4 rounded-lg p-10 bg-white">
    <div class="hero container max-w-screen-lg mx-auto pb-10 flex justify-center">
      <%= image_tag ("SnSnoBg.png"), :class => "w-20 h-20" %>
    </div>
    
    <h1 class="font-bold text-2xl text-center">Create Account</h1>
    <br>
    <%= render "form", user: @user %>
  </div>
</div>
<br>