<%= button_to "Approve", "/approve", method: :put %> <%# TODO: Delete %>
<div class="container mx-auto rounded-lg" style="width: 50%;">
  <br>
  <div class="shadow shadow-2xl border border-red-900  border-4 rounded-lg p-10 bg-white">
    <div class="hero container max-w-screen-lg mx-auto pb-10 flex justify-center">
      <%= image_tag ("SnSnoBg.png"), :class => "w-20 h-20" %>
    </div>

    <h1 class="font-bold text-2xl text-center">Waiting for Approval!</h1>
    <div class="hero container max-w-screen-lg mx-auto pb-10 flex justify-center">
        <%= image_tag "WalkingCow.gif"%>
    </div>
  </div>
</div>
<br>