<%= stylesheet_link_tag 'nav.css' %>
<div class = "dropdown">
    <button class="dropbtn">Events</button>
    <div class="dropdown-content">
        <%= link_to "index", events_path %>
        <%= link_to "Admin Dashboard", "/" %>
    </div>
</div>