<%# OATH %>
<div class="grid place-items-center"> 
    <h1 class="text-3xl font-bold text-center">You're logged in!<br> Welcome to the Admin Dashboard!</h1>
</div>

<%# ANNOUNCEMENT FEED %>
<%# style directions make scrollbar on left! %>
<%# w-[404px] prevents horizontal scrollbar %>

<div class="w-[404px] h-96 overflow-auto border-2 border-gray-200 rounded-lg ml-4" style="direction:rtl">
    <% @announcements.each do |ann|%>
    <br>
    <div class="container w-96 rounded-lg px-10" style="direction:ltr">
    <%= link_to announcement_path(ann), class: 'action show' do%>
    <div class="border-gray-200 border-2 rounded-sm p-4 transition duration-700 ease-in-out 
                     hover:bg-gray-100 transform 
                       hover:-translate-y-1 hover:scale-110">
        <h1 class = "grid place-items-center"><%= ann.title %></h3>
        <br>
        </div>
    </div>
    <%end%>
    <%end%>
</div>