<div class="grid place-items-center"> 
    <%# FOR TESTING, will be removed %>
    <%= button_to "Swap Role", "/swapRole", method: :put%>
</div>

<div class="flex flex-row gap-x-10 w-full h-[85vh] flex-wrap">
    <%# ANNOUNCEMENT FEED DIV!%>
    <%# style directions make scrollbar on left! %>
    <%# w-[404px] prevents horizontal scrollbar %>
    <%# -z-20 ml-4%>
    <div class="w-1/4 h-full flex flex-col gap-y-2 items-center flex-grow overflow-auto border-2 border-gray-200 rounded-lg" style="direction:rtl">
            <a href="/announcements">
                <div class="text-center w-full font-semibold text-lg p-4 border-b-2 border-maroon border-opacity-0 hover:border-opacity-100
                hover:text-maroon duration-200 cursor-pointer active">Announcements</div>
            </a>
        <% @announcements.each do |ann|%>
        <%# Individual Announcement! %>
        <%# w-96 h-16 %>
        <%#container  -z-10 %>
            <div class="w-4/5 h-16" style="direction:ltr">
                <%= link_to announcement_path(ann), class: 'action show' do%>
                <div class="h-16 border-gray-200 border-2 rounded-sm p-5 transition duration-700 ease-in-out 
                            hover:bg-gray-100 transform 
                            hover:-translate-y-1 hover:scale-110 hover:border-maroon">
                    <h1 class = "text-center truncate block"><%= ann.title %></h3>
                </div>
            </div>
            <%end%>
        <%end%>
    </div>

    <div class="flex flex-grow w-2/3 h-full">
        <iframe class="w-full h-full" src="https://calendar.google.com/calendar/embed?src=c_1b2ba3a0c5d0ac6eb82d42ca9e7763c8bcb8755d05c39efe5f875fe3d7dabe25%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" frameborder="0" scrolling="no"></iframe>
    </div>
</div>