/* .events_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Monospace", "Courier New", serif;
  font-size: 20px;
}

.events_container {
  border: 1px solid black;
  border-radius: 10px;
}
h1 {
  color: maroon;
  font-family: "Monospace", "Courier New", serif;
  font-size: 25px;
  padding-right: 50px;
  padding: 10px;
}

h2 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 18px;
  padding-right: 50px;
}

p {
  padding-left: 75px;
  font-size: 22px;
} */